---
UseColor: true

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -readability-identifier-length,
    -readability-convert-member-functions-to-static,
    -readability-function-cognitive-complexity,
    -readability-container-size-empty,
    -cppcoreguidelines-pro-type-union-access,
    -portability-avoid-pragma-once,
    -clang-diagnostic-pragma-once-outside-header
    -cppcoreguidelines-macro-usage

CheckOptions:
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true

HeaderFilterRegex: '^<Nova/.*>$'
ExcludeHeaderFilterRegex: '^<Nova/Logging\.h>$'

ExtraArgs:
  - -Wno-inconsistent-dllimport
  - -Wno-format-extra-args
...
