# Declares that this is the top-level configuration
root = true

# Applies to all files
# (Please don't specify an indent_size here; that has too many unintended consequences.)
[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
guidelines = 80, 100, 120, 130
rulers = 80, 100, 120, 130
spelling_exclusion_path = SpellingExclusions.dic
file_header_template = Distributed under the MIT License. See accompanying file LICENSE or copy\nat https://opensource.org/licenses/MIT.\nSPDX-License-Identifier: MIT

# Applies to all Windows batch files
[*.bat]
end_of_line = crlf

# PowerShell Source code
[*.{ps1,psd1,psm1}]
indent_size = 4

# Shell scripts
[*.sh]
end_of_line = lf
indent_size = 4

# Applies to all Markdown files
[*.md]
trim_trailing_whitespace = false

# Xml project files
[*.{csproj,resx,ps1xml}]
indent_size = 4

[*.tsv]
indent_style = tab

# Data serialization
[*.{json,yaml,yml}]
indent_size = 2

# Dotnet code style settings:
[*.{cs,csx,cake,vb,vbx}]
indent_size = 4
indent_style = space
end_of_line = crlf

[*.{cpp,h}]
indent_size = 2
indent_style = space
